.cardContainer {
  border-radius: 0 0 5px 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  height: 100px;
  width: 200px;
  margin: 20px;
  padding: 10px;;
}